.AddQuestion, .MoreQuestionsButton, .loadFewerQuestionsButton {
  font-weight: bold;
  width:280px;
  height: 60px;
  margin-right: 20px;
}
.QuestionAnswersBlock {
  width: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.QAButtons {
  padding-top: 10px;
}