.AddQuestion, .MoreQuestionsButton, .loadFewerQuestionsButton {
  font-weight: bold;
  width:280px;
  height: 60px;
  margin-right: 20px;
}
.QuestionAnswersBlock {
  width: 100%;
  margin-bottom: 3%;
  margin-top: 3%;
}

.QAButtons {
  padding-top: 10px;
}

.NewQuestionModal {
  max-width: 30%;
  left: 35%;
  top: 15%;
  position: absolute;
  background-color: hwb(12 91% 7%);
  box-shadow: 1px 1px 5px grey;
  object-fit: cover;
  object-position: 30% 30%;
}

.NewQuestionOverlay {
  background-color: rgba(39, 50, 39, 0.5);
  position: fixed;
  inset: 0px;
}

#NewQuestionClose {
  position: absolute;
  right: 5px; 
  top: 5px;
  cursor: pointer;
}

#NewQuestionClose:hover {
  cursor: pointer;
}

.QuestionModal {
  position: absolute;
  width: 50%;
  left: 25%;
  top: 15%; 
}