.dropdown-container {
  text-align: left;
  border: 1px solid #ccc;
  position: relative;
  border-radius: 5px;
}

.dropdown-input {
  padding: 5px;
  display: flex;
  user-select: none;
  width: 125px;
  justify-content: center;
}

#sizeDropdown {
  border:1px black solid;
  display: inline;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
}
.dropdown-menu {
  position: absolute;
  transform: translateY(4px);
  width: 100%;
  border: 1px solid #ccc;
  overflow: auto;
  max-height: 150px;
  background-color: white;
}

.dropdown-item {
  padding: 5px;
  cursor: pointer;
}

.dropdown-item:hover {
  background-color: #9fc3f870;
}

.dropdown-tools {
  position: absolute;
  right: 10px;
}

.dropdown-selected-value {
  margin-right: 20px;
}