#overviewFooter {
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  display: flex;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
}

.productDescription {
  width: 77%;
  border-style: none solid none none;
  padding-left: 5%;
  padding-right: 5%;
}

.socialMedia {
  width: 25%;
  padding-left: 5%;
  padding-right: 5%;
}

.smIcon {
  display: flex;
  justify-content: space-around;
  color: black;
  font-size: 24px;
}

#facebook:hover {
  color: blue;
}

#twitter:hover {
  color: lightskyblue;
}

#pinterest:hover {
  color: red;
}