#imageGallery {
  position: relative;
  border:1px black solid;
}

#main{
  border:1px black solid;
  background-color: white;
  width: 800px;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main:hover{
  border:1px black solid;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}
#mainPhoto {
  border:1px black solid;
  display: block;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.horizontalCarousel {
  position: absolute;
  width: 10%;
  height: 80%;
  top: 10%;
}

.topThumbnailButton {
  width: 100%;
  position: absolute;
  top: 4%;
}

.botThumbnailButton {
  width: 100%;
  position: absolute;
  bottom: 4%;
}

#carouselThumbnail {
  position: absolute;
  width: 100%;
  top: 15%;
}

.column {
  width: 100%;
  height: 75px;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 15%;
  border: 1px black solid;
  opacity: .75;
}

.column:hover {
  opacity: 1;
}