#imageGallery {
  position: relative;
  border:1px black solid;
  width: 70%;
}

#main{
  border: 1px black solid;
  background-color: white;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#main:hover{
  border:1px black solid;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

#mainPhoto {
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  /* transform-origin: center center;
  cursor: crosshair; */
  object-fit: fill;
}

/* #mainPhoto:hover {
  transition:  0.5s all ease-in-out;
  object-fit: cover;
} */

.horizontalCarousel {
  position: absolute;
  width: 10%;
  height: 80%;
  top: 10%;
  left: 1%;
}

.topThumbnailButton {
  width: 100%;
  position: absolute;
  top: 4%;
}

.botThumbnailButton {
  width: 100%;
  position: absolute;
  bottom: 4%;
}

#carouselThumbnail {
  position: absolute;
  width: 100%;
  top: 15%;
}

.column {
  width: 100%;
  height: 75px;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 15%;
  border: 1px black solid;
  opacity: .90;
}

.column:hover {
  opacity: 1;
}

.expand {
  position: absolute;
  right: 5px;
  top: 5px;
  color: brown;
  font-size: xx-large;
}

.expand:hover {
  cursor: pointer;
}

#expandview {
  transform-origin: center center;
  object-fit: fill;
  height: 100%;
  margin: 0 auto;
}


#test {
  transform-origin: center center;
  height: 100%;
  width: 100%;
}