#productInformation {
  align-self: center;
  border:1px black solid;
}

.styleIcons {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}
#itemPrice {
  display: flex;
}
.styleDiv {
  padding: 5px;
  width: 25%;
}

.stylePhotos {
  width: 100%;
  height: 75px;
  object-fit: cover;
  object-position: 30% 30%;
  border-radius: 15%;
}



.check {
  position: absolute;
  width: auto;
  color: brown;
}